<%- include('../../layout/header') %>
<style>
  .item-list {
    display: none;
  }

  .infor-staff:hover {
    opacity: 0.7;
    background-color: rgb(45, 145, 227);
    color: white;
  }

  .infor-staff {
    border-bottom: 0.5px solid rgb(77, 211, 229);
  }

  #itemList {
    padding: 0;
    display: none;
  }

  .imgStep img {
    cursor: pointer;
  }

  .imgStep img:hover {
    opacity: 0.2;
  }

  .imgStep img:active {
    opacity: 0.2;
  }

  .imgMainStaff:hover {
    opacity: 0.2;
  }
</style>
<form action="/project/<%= project.id %>?_method=Patch" method="POST" id="FormAdd">
  <div class="row m-t-15 m-b-15">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body text-secondary">
          <h2 class=" m-b-30">Sửa công trình</h2>
          <div class="row d-flex align-items-center">
            <div class="col-auto">
              Nhân viên phụ trách:</div>
            <% project.projectStaff.forEach(function(item, index) { %>
            <div class="col-auto">
              <div class="avatar avatar-2xl imgMainStaff" onclick="removeMainStaff('<%= item.id %>', this)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="<%= item.staff.full_name %>">
                <img class="rounded-circle" src="/images/avatar/<%= item.staff.avatar %>" alt>
              </div>
            </div>
            <% }) %>
            <a class="btn btn-primary mb-2" style="width: fit-content;" onclick="addStaff()">+</a>
          </div>
          <div id="staff-container" class="mt-3 mb-3"></div>
          <div class="d-flex justify-content-between">
            <div class="form-group col-7">
              <label for="full_name">Tên công trình <span style="color: red;">*</span></label>
              <input type="text" id="full_name" name="full_name" class="form-control" required maxlength="255" value="<%= project.full_name %>">
            </div>
            <div class="form-group col-3">
              <label for="code_project">Mã công trình <span style="color: red;">*</span></label>
              <input type="text" placeholder="Enter code" id="code_project" name="code_project" class="form-control" required maxlength="255" value="<%= project.code_project %>">
            </div>
          </div>
          <div class="form-group">
            <label for="number_phone">Số điện thoại <span style="color: red;">*</span></label>
            <input type="tel" id="number_phone" name="number_phone" class="form-control" required maxlength="15" value="<%= project.number_phone %>">
          </div>
          <div class="form-group">
            <label for="email">Địa chỉ email</label>
            <input type="email" id="email" name="email" class="form-control" maxlength="255" value="<%= project.email %>">
          </div>
          <div class="form-group">
            <label for="address">Địa chỉ lắp đặt <span style="color: red;">*</span></label>
            <textarea id="address" name="address" class="form-control"><%= project.address %></textarea>
          </div>
          <div class="d-flex" style="justify-content: space-between;">
            <div class="form-group">
              <label for="price">Giá trị hợp đồng: <span style="color: red;">*</span></label>
              <input type="number" value="<%= project.price %>" placeholder="Enter Address price" id="price" name="price" class="form-control">
            </div>
            <div class="form-group">
              <label for="tax">Thuế:</label>
              <input type="number" value="<%= project.tax %>" placeholder="Enter Address tax" id="tax" name="tax" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="description">Ghi chú</label>
            <textarea id="description" name="description" class="form-control" maxlength="225"><%= project.description %></textarea>
            <p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Thông tin</th>
                  <th scope="col">Giá trị</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><label for="dongCo">Động cơ <span style="font-size: 10px;">(Nhật
                        Bản)</span></label></td>
                  <td><input type="text" id="dongCo" name="dongCo" value="<%= project.infor_product.dongCo %>" class="form-control"></td>
                </tr>
                <tr>
                  <td><label for="tuDien">Tủ điện <span style="font-size: 10px;">(Hàn
                        Quốc)</span></label></td>
                  <td><input type="text" id="tuDien" name="tuDien" value="<%= project.infor_product.tuDien %>" class="form-control"></td>
                </tr>
                <tr>
                  <td><label for="capTai">Cáp Tải <span style="font-size: 10px;">(Hàn
                        Quốc)</span></label></td>
                  <td><input type="text" id="capTai" name="capTai" value="<%= project.infor_product.capTai %>" class="form-control"></td>
                </tr>
                <tr>
                  <td><label for="congSuat">Công suất <span style="font-size: 10px;">(3.3 Kw)</span></label></td>
                  <td><input type="text" id="congSuat" name="congSuat" value="<%= project.infor_product.congSuat %>" class="form-control"></td>
                </tr>
                <tr>
                  <td><label for="hoThang">Hố thang <span style="font-size: 10px;">(1600x 1600 mm)</span></label></td>
                  <td><input type="text" id="hoThang" name="hoThang" value="<%= project.infor_product.hoThang %>" class="form-control"></td>
                </tr>
                <tr>
                  <td><label for="cabin">Cabin <span style="font-size: 10px;">(1200 x
                        1000 mm)</span></label></td>
                  <td><input type="text" id="cabin" name="cabin" value="<%= project.infor_product.cabin %>" class="form-control"></td>
                </tr>
                <tr>
                  <td><label for="cua">Cửa <span style="font-size: 10px;">(700 x 2100
                        mm)</span></label></td>
                  <td><input type="text" id="cua" name="cua" value="<%= project.infor_product.cua %>" class="form-control"></td>
                </tr>
                <tr>
                  <td><label for="pit">Pít <span style="font-size: 10px;">(1400
                        mm)</span></label></td>
                  <td><input type="text" id="pit" name="pit" value="<%= project.infor_product.pit %>" class="form-control"></td>
                </tr>
                <tr>
                  <td><label for="oh">OH <span style="font-size: 10px;">(3300 + 1300
                        mm)</span></label></td>
                  <td><input type="text" id="oh" name="oh" value="<%= project.infor_product.oh %>" class="form-control"></td>
                </tr>
                <tr>
                  <td><label for="phongMay">Phòng máy <span style="font-size: 10px;">(Có/Không)</span></label></td>
                  <td><input type="text" id="phongMay" name="phongMay" value="<%= project.infor_product.phongMay %>" class="form-control"></td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-primary btn-lg btn-block w-100" onclick="SubmitForm(event)">Sửa công trình</button>
          </div>
          </section>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body text-secondary">
          <div class="form-group">
            <label for="workflow">Quy trình lắp đặt <span style="color: red;">*</span></label>
            <%
            let displayedIds = new Set();
            ProjectSteps.forEach(function(ProjectStep) {
            if (!displayedIds.has(ProjectStep.workflowStep.id)) {
            displayedIds.add(ProjectStep.workflowStep.id);
            %>
            <div class="step step<%= ProjectStep.workflow.id %> m-t-30">
              <div class="d-flex justify-content-between btn btn-primary btn-lg btn-block mb-3 notification">
                <span class="w-75" style="text-align: start;">
                  <%= ProjectStep.step.name %>
                  <br>
                  <span class="w-75" style="opacity: 0.5;">
                    <%= ProjectStep.step.description %>
                  </span>
                </span>
                <div class="d-flex justify-content-center align-items-center">
                  <div id="imgStep<%= ProjectStep.workflowStep.id %>" class="imgStep">
                  </div>
                  <div class="add-new-position" idValue="<%= ProjectStep.workflowStep.id %>" nameValue="<%= ProjectStep.step.name %>">
                    <i class="fas fa-plus-square" style="font-size: 40px;"></i>
                  </div>
                </div>
              </div>
            </div>
            <%
            }
            });
            %>
            </section>
          </div>
        </div>
</form>
<script>

  function toggleStaffContainer() {
    const staffContainer = document.getElementById('staff-container');
    if (staffContainer.style.display === 'none') {
      staffContainer.style.display = 'block';
    } else {
      staffContainer.style.display = 'none';
    }
  }

  function selectStaff(element, name, id) {
    const searchBox = element.closest('.d-flex').querySelector('.staff-search');
    const hiddenInput = element.closest('.d-flex').querySelector('.staff-main-id');
    const list = element.closest('.d-flex').querySelector('.item-list');
    searchBox.value = name;
    hiddenInput.value = id;
    list.style.display = "none";
  }

  function filterList2(element) {
    const container = element.closest('.d-flex');
    const input = container.querySelector('.staff-search').value.toLowerCase();
    const selectedDepartment = container.querySelector('.department-select').value;
    const items = container.querySelectorAll('.item-list li');
    const list = container.querySelector('.item-list');
    if (input || selectedDepartment) {
      list.style.display = "block";
    } else {
      list.style.display = "none";
    }
    items.forEach(item => {
      const itemText = item.textContent.toLowerCase();
      const departmentId = item.getAttribute('idDepartment');
      if (
        (itemText.includes(input) || !input) &&
        (departmentId === selectedDepartment || !selectedDepartment)
      ) {
        item.style.display = "";
      } else {
        item.style.display = "none";
      }
    });
  }
/// Thêm nhân viên
  function addStaff() {
    const container = document.getElementById('staff-container');
    const newStaff = document.createElement('div');
    newStaff.classList.add('d-flex', 'staff-select');
    newStaff.innerHTML = `
    <select class="form-select form-select-sm department-select" style="width: fit-content;"
      aria-label=".form-select-sm example" onchange="filterList2(this)">
      <% departments.forEach(function(department, key) { %>
      <option value="<%=department.id %>">
        <%=department.name %>
      </option>
      <% }) %>
    </select>
    <div class="w-100">
      <input type="text" class="form-control staff-search" placeholder="Nhập tên nhân viên"
        aria-label="Recipient's username" aria-describedby="button-addon2" oninput="filterList2(this)">
      <ul style="position: absolute;" class="card item-list">
        <% staffs.forEach(function(staff) { %>
        <li class="btn w-100 infor-staff" idDepartment="<%=staff.department.id%>"
          onclick="selectStaff(this, '<%=staff.full_name%>', '<%=staff.id%>')">
          <%=staff.full_name%> - <%=staff.number_phone%>
        </li>
        <% }) %>
      </ul>
    </div>
    <input type="hidden" class="staff-main-id" name="staffMain[]">
    <button class="btn btn-danger" onclick="removeStaff(this)">Xóa</button>
  `;
    container.appendChild(newStaff);
  }

  function removeStaff(button) {
    const container = button.closest('.staff-select');
    container.remove();
  }
</script>
<script>
  function removeMainStaff(projectStaff, element) {
    if (confirm("Bạn có chắc chắn muốn xóa nhân viên này?")) {
      $.ajax({
        url: `/project-staff/${projectStaff}`,
        type: 'DELETE',
        data: {},
        success: function(response) {
          $(element).closest('.col-auto').remove();
        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    }
  }
  let ArrayObj = [];
  let ProjectSteps = JSON.parse('<%- JSON.stringify(ProjectSteps).replace(/\\/g, "\\\\").replace(/\n/g, "\\n").replace(/\r/g, "\\r").replace(/\t/g, "\\t") %>');
  let filteredProjectSteps = ProjectSteps.filter(step => step.staff !== null);
  filteredProjectSteps.forEach(element => {
    ArrayObj.push(new Step(
      element.staff.id,
      element.workflowStep.id,
      element.staff.avatar,
      element.time,
    ));
  });

  ArrayObj.forEach(element => {
    $(`#imgStep${element.idStep}`).append(
      `<img src="/images/avatar/${element.img}" alt="" width="30px" height="30px" style="border-radius: 100%; margin-right:5px" onclick="remove('${element.img}','${element.idStep}')">`
    );
  });

  function changeDate() {
    if ($('#date-time').val() != '') {
      $('#staff-search').prop('disabled', false);
    } else {
      $('#staff-search').prop('disabled', true);
    }
  }

  function SubmitForm(e) {
    e.preventDefault()
    $('#FormAdd input[name="steps"]').remove();
    let jsonString = JSON.stringify(ArrayObj, (key, value) => {
      if (key === 'img') {
        return undefined;
      }
      return value;
    });
    $('#FormAdd').append(`<input type="hidden" name="steps" value='${jsonString}'>`)
    document.getElementById("FormAdd").submit();
  }

  function pushStaff(value, id, avatar) {
    if ($('#date-time').val() != '') {
      $('.clickXN').prop('disabled', false);
      $('#imgStaff').attr('value', avatar);
      $('#idStaffCheck').attr('value', id);
    } else {
      $('.clickXN').prop('disabled', true);
    }
    document.getElementById('staff-search').value = value;
    document.getElementById('itemList').style.display = "none";
  }

  function filterList() {
    document.getElementById('itemList').style.display = "block"
    var input = document.getElementById('staff-search').value.toLowerCase();
    var items = document.getElementById('itemList').getElementsByTagName('li');
    var list = document.getElementById('itemList');
    if (input) {
      list.style.display = "block";
    } else {
      list.style.display = "none";
    }
    for (var i = 0; i < items.length; i++) {
      var itemText = items[i].textContent || items[i].innerText;
      var dataId = $(items[i]).attr('data-id');
      var stepId = $(items[i]).attr('data-stepId');
      if (itemText.toLowerCase().includes(input)) {
        items[i].style.display = "";
        ArrayObj.forEach(function(item) {
          if (item.idStaffCheck == dataId && item.idStep == stepId) {
            return items[i].style.display = "none";
          }
        })
      } else {
        items[i].style.display = "none";
      }
    }
  }
  $(document).ready(function() {
    $("#workflow").change(function(e) {
      let workflowId = e.target.value;
      $(".step").slideUp();
      $(`.step${workflowId}`).slideDown();
    });
    $('.add-new-position').click(function() {
      $('#newPositionModal').remove();
      var idValue = $(this).attr('idValue');
      var nameValue = $(this).attr('nameValue');
      var form =
        '<div class="modal fade" id="newPositionModal" tabindex="-1" aria-labelledby="newPositionModalLabel" aria-hidden="true">' +
        '<div class="modal-dialog">' +
        '<div class="modal-content">' +
        '<div class="modal-header">' +
        '<div class="d-flex justify-content-between w-100" >' +
        `<h5 class="modal-title" id="newPositionModalLabel">Cài đặt quy trình:</h5>
        <input type="hidden" value="${idValue}" id="idSteps">
        <input type="hidden"  id="imgStaff">
        <input type="hidden"  id="idStaffCheck">
        ` +
        '<button class="btn btn-success clickXN" disable onclick="clickXN()" style="white-space: nowrap; margin-left:10px;" disabled>Xác nhận</button>' +
        '</div>' +
        '<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>' +
        '</div>' +
        '<div class="modal-body">' +
        '<div >' +
        '<div class="form-group">' +
        '<label for="date-time">Chọn trọng số:</label>' +
        `<select name="weight" id="weight-select" class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        ` +
        '</div>' +
        '<div class="form-group">' +
        '<label for="staff">Thêm nhân viên:</label>' +
        '<input  type="text" class="form-control" id="staff-search"  oninput="filterList()">' +
        `<ul id="itemList" class="w-100" >
  <% staffs.forEach(function(staff) { %>
        <li class="btn w-100 infor-staff" data-stepId="${idValue}" data-id="<%=staff.id%>" onclick="pushStaff('<%=staff.full_name%>','<%=staff.id%>','<%=staff.avatar%>')"><%=staff.full_name%> - <%=staff.number_phone%></li>
        <% }) %>
</ul>` +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>';
      $('body').append(form);
      $('#newPositionModal').modal('show');
      $('#date-time').val('');
      $('#staff-search').val('');
    });
  });

  function clickXN() {
    ArrayObj.push(new Step(
      $('#idStaffCheck').val(),
      $('#idSteps').val(),
      $('#imgStaff').val(),
      $('#weight-select').val()
    ))
    $(`.imgStep`).find('img').remove();
    ArrayObj.forEach(element => {
      $(`#imgStep${element.idStep}`).append(
        `<img src="/images/avatar/${element.img}" alt="" width="30px" height="30px" style="border-radius: 100%; margin-right:5px" onclick="remove('${element.img}','${element.idStep}')"> `
      )
    });
    $('#newPositionModal').modal('hide');
  }

  function remove(img, idStep) {
    ArrayObj = ArrayObj.filter(function(item) {
      return item.img != img || item.idStep != idStep
    });
    $(`.imgStep`).find('img').remove();
    ArrayObj.forEach(element => {
      $(`#imgStep${element.idStep}`).append(
        `<img src="/images/avatar/${element.img}" alt="" width="30px" height="30px" style="border-radius: 100%; margin-right:5px" onclick="remove('${element.img}','${element.idStep}')"> `
      )
    });
  }
  // XỬ LÝ OBJ
  function Step(idStaffCheck, idStep, img, weight) {
    this.img = img;
    this.idStaffCheck = idStaffCheck;
    this.idStep = idStep;
    this.weight = weight;
    this.getImg = function() {
      return this.img
    };
    this.getDate = function() {
      return this.date
    };
    this.getId = function() {
      return this.id
    };
  }
</script>
<%- include('../../layout/footer') %>