<%- include('../layout/header') %>

<% function formatDate(dateString) { const date=new Date(dateString); const
day=String(date.getDate()).padStart(2, '0'
); const month=String(date.getMonth() + 1).padStart(2, '0' ); const
year=date.getFullYear(); const
hours=String(date.getHours()).padStart(2, '0' ); const
minutes=String(date.getMinutes()).padStart(2, '0' ); const
seconds=String(date.getSeconds()).padStart(2, '0' ); return `${day}/${month}/${year}
${hours}:${minutes}:${seconds}`;
} %>
<% function returnMonth(dateString) { const date=new Date(dateString);
const month=String(date.getMonth() + 1).padStart(2, '0' );
return month;
} %>
<% function returnDay(dateString) { const date=new Date(dateString);
const day=String(date.getDate()).padStart(2, '0'); return day;
} %>

<style>
  .infor-staff:hover {
    opacity: 0.7;
    background-color: rgb(45, 145, 227);
    color: white;
  }

  .infor-staff {
    border-bottom: 0.5px solid rgb(77, 211, 229);
  }

  .itemList {
    display: none;
  }
</style>
<div class="card">
  <div class="mb-3 card d-flex flex-column flex-md-row justify-content-between">
    <div class="w-75 d-flex">
      <button class="btn btn-primary me-1 m-3 w-50" id="btn-lapdat">Lắp đặt</button>
      <button class="btn btn-primary me-1 m-3 w-50" id="btn-baotri">Bảo trì</button>
    </div>
    <div>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected="selected">Tất cả công việc</option>
        <option>Việc cần làm</option>
        <option>Việc đã làm</option>
        <option>Việc đã bỏ lỡ</option>
      </select>
    </div>
  </div>
  <div class="card mb-3 mb-lg-0 lapdat">
    <div class="card-header bg-body-tertiary d-flex justify-content-between">
      <h5 class="mb-0"> Danh sách lắp đặt thang máy
      </h5>
    </div>
    <div class="card-body fs-10">
      <div class="row">
        <% projectSteps.forEach(function(item, index) { %>
        <div class="col-md-6 h-100" onclick="window.location.href = '/client/task/<%= item.project.id %>'" style="cursor: pointer;">
          <div class="d-flex btn-reveal-trigger">
            <div class="calendar"><span class="calendar-month">T
                <%=returnMonth(item.createdAt)%></span><span class="calendar-day"><%=returnDay(item.createdAt)%></span></div>
            <div class="flex-1 position-relative ps-3">
              <h6 class="fs-9 mb-0">
                <p class="text-primary m-0"><%=
                  item.workflowStep.step.name %>
                  <%
                  const currentDate = new Date();
                  const itemDate = new Date(item.time);
                  %>
                  <% if (item.status == null) { %>
                  <span class="badge badge-subtle-warning rounded-pill">Cần làm</span>
                  <% } else{ %>
                  <span class="badge badge-subtle-success rounded-pill">Đã hoàn
                    thành</span>
                  <% } %>
                  </a>
              </h6>
              <p class="mb-1"><%=
                item.workflowStep.step.description %> tại công trình <a href="#!" class="text-700"><%=
                  item.project.full_name %></a></p>
              <p class="text-1000 mb-0">Ngày giao: <%= formatDate(
                item.createdAt) %></p>
              <p>Địa chỉ:<%=
                item.project.address %></p>
              <div class="border-bottom border-dashed my-3"></div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
  <div class="card mb-3 mb-lg-0 baotri">
    <div class="card-header bg-body-tertiary d-flex justify-content-between">
      <h5 class="mb-0"> Danh sách bảo trì
      </h5>
    </div>
    <div class="card-body fs-10">
      <div class="row">
        <div class="d-flex mb-2">
          <button class="btn btn-primary m-3" type="button" data-bs-toggle="modal" data-bs-target="#error-modal">+ Đề xuất thêm bảo trì</button>
          <button class="btn btn-primary m-3" type="button" data-bs-toggle="modal" data-bs-target="#error-modal2">+ Đề xuất xác nhận bảo trì</button>
        </div>
        <div class="modal fade" id="error-modal2" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
            <div class="modal-content position-relative">
              <div class="position-absolute top-0 end-0 mt-2 me-2 z-1">
                <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body p-0">
                <div class="rounded-top-3 py-3 ps-4 pe-6 bg-body-tertiary">
                  <h4 class="mb-1" id="modalExampleDemoLabel">Đề xuất xác nhận bảo
                    trì</h4>
                </div>
                <div class="p-4 pb-0">
                  <form class="myForm1" method="post" action="/maintenance/add2" enctype="multipart/form-data">
                    <div class="mb-3">
                      <label class="col-form-label" for="recipient-name">Tên công
                        trình:</label>
                      <input class="form-control recipient-name1" type="text" oninput="filterList1(event)" />
                      <ul class="itemList itemList1">
                        <% projects.forEach(function(project) { %>
                        <li class="btn w-100 infor-staff" onclick="clickProject1('<%= project.full_name %> - <%= project.number_phone %>','<%=project.id%>')"><%=
                          project.full_name %>
                          - <%=
                          project.number_phone %>
                        </li>
                        <% }) %>
                        <li class="btn w-100 infor-staff" onclick="clickProject1('!',0)">!
                          Không có công trình
                        </li>
                      </ul>
                    </div>
                    <div class="mb-3" id="recipient-nameProject1" style="display: none;">
                      <label class="col-form-label" for="recipient-name">Thông tin:
                      </label>
                      <input class="form-control" id type="text" name="projectName" />
                    </div>
                    <div class="mb-3">
                      <label class="col-form-label" for="message-reason1">Mô tả:</label>
                      <input class="form-control" id="recipient-reason1" type="text" name="reason" />
                    </div>
                    <div class="mb-3">
                      <label class="col-form-label" for="message-feedback1">Phản
                        hồi:</label>
                      <input class="form-control" id="recipient-feedback1" type="text" name="feedback" />
                    </div>
                    <div class="mb-3">
                      <label class="col-form-label" for="message-image1">Ảnh:</label>
                      <input class="form-control" id="recipient-image1" type="file" name="image" />
                    </div>
                    <input type="submit" class="btn btn-primary" value="Xác nhận">
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
            <div class="modal-content position-relative">
              <div class="position-absolute top-0 end-0 mt-2 me-2 z-1">
                <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body p-0">
                <div class="rounded-top-3 py-3 ps-4 pe-6 bg-body-tertiary">
                  <h4 class="mb-1" id="modalExampleDemoLabel">Đề xuất thêm bảo trì</h4>
                </div>
                <div class="p-4 pb-0">
                  <form class="myForm2" method="post" action="/maintenance/add">
                    <div class="mb-3">
                      <label class="col-form-label" for="recipient-name2">Thông
                        tin:</label>
                      <input class="form-control recipient-name2" type="text" oninput="filterList2(event)" />
                      <ul class="itemList itemList2">
                        <% projects.forEach(function(project) { %>
                        <li class="btn w-100 infor-staff" onclick="clickProject2('<%= project.full_name %>- <%= project.number_phone %>','<%=project.id%>')">
                          <%= project.full_name %>- <%= project.number_phone %>
                        </li>
                        <% }) %>
                        <li class="btn w-100 infor-staff" onclick="clickProject2('!',0)">!
                          Không có công trình
                        </li>
                      </ul>
                    </div>
                    <div class="mb-3" id="recipient-nameProject2" style="display: none;">
                      <label class="col-form-label" for="recipient-name">Tên chủ dự
                        án:</label>
                      <input class="form-control" type="text" name="projectName" />
                    </div>
                    <div class="mb-3">
                      <label class="col-form-label" for="recipient-time2">Thời gian bảo
                        trì:</label>
                      <input class="form-control" id="recipient-time2" type="date" name="time" disabled />
                    </div>
                    <div class="mb-3">
                      <label class="col-form-label" for="message-reason2">Mô tả:</label>
                      <input class="form-control" id="recipient-reason2" type="text" name="reason" disabled />
                    </div>
                    <input type="submit" class="btn btn-primary" value="Xác nhận">
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <% maintenance.forEach(function(item, index) {
        if(item.maintenance && item.maintenance.project){
        %>
        <div class="col-md-6 h-100" style="cursor: pointer;">
          <div class="d-flex btn-reveal-trigger">
            <div class="calendar"><span class="calendar-month">T
                <%= returnMonth(item.maintenance.time) %></span><span class="calendar-day"><%=returnDay(item.maintenance.time)%></span></div>
            <div class="flex-1 position-relative ps-3">
              <h6 class="fs-9 mb-0"><a href="/client/task/<%=
                  item.maintenance.project.id %>"><%=
                  item.maintenance.reason %>
                  <%
                  const currentDate = new Date();
                  const itemDate = new Date(item.time);
                  %>
                  <% if (item.status == null) { %>
                  <% if (currentDate > itemDate) { %>
                  <span class="badge badge-subtle-danger rounded-pill">Đã bỏ lỡ</span>
                  <% } else { %>
                  <span id="openFormBtnBt" maintenanceActionId="<%= item.id %>" class="badge badge-subtle-warning rounded-pill">Cần làm</span>
                  <% } %>
                  <% } else if (item.status != null) { %>
                  <span class="badge badge-subtle-success rounded-pill">Đã hoàn
                    thành</span>
                  <% } %>
                </a></h6>
              <p class="mb-1">Tại công trình<a class="text-700">
                  <%=
                  item.maintenance.project.full_name %>
                </a></p>
              <p class="text-1000 mb-0">Ngày bảo trì: <%= formatDate(
                item.maintenance.time) %></p>
              Địa chỉ: <%= item.maintenance.project.address %>
              <div class="border-bottom border-dashed my-3"></div>
            </div>
          </div>
        </div>
        <% }
        else {
        %>
        <div class="col-md-6 h-100" style="cursor: pointer;">
          <div class="d-flex btn-reveal-trigger">
            <div class="calendar"><span class="calendar-month">T
                <%=returnMonth(item.time)%></span><span class="calendar-day"><%=returnDay(item.time)%></span></div>
            <div class="flex-1 position-relative ps-3">
              <h6 class="fs-9 mb-0 text-warning"><a><%=item.maintenance.projectName %>
                  <%
                  const currentDate = new Date();
                  const itemDate = new Date(item.time);
                  %>
                  <% if (item.status == null) { %>
                  <% if (currentDate > itemDate) { %>
                  <span class="badge badge-subtle-danger rounded-pill">Đã bỏ lỡ</span>
                  <% } else { %>

                  <span id="openFormBtnBt" maintenanceActionId="<%= item.id %>" class="badge badge-subtle-warning rounded-pill">Cần làm</span>
                  <% } %>
                  <% } else if (item.status != null) { %>
                  <span class="badge badge-subtle-success rounded-pill">Đã hoàn
                    thành</span>
                  <% } %>
                </a></h6>
              <p class="mb-1">Thông tin:<a class="text-700">
                  <%=
                  item.maintenance.reason %>
                </a></p>
              <p class="text-1000 mb-0">Ngày giao: <%= formatDate(
                item.createdAt) %></p>
              <p class="text-1000 mb-0">Hết hạn: <%= formatDate(
                item.time) %>
              </p>
              <div class="border-bottom border-dashed my-3"></div>
            </div>
          </div>
        </div>
        <% } %>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#openFormBtnBt").click(function() {
      const maintenanceActionId = this.getAttribute('maintenanceActionId');
      const workflowStepId = this.getAttribute('workflowStepId');
      const form = `
                <div class="w-50">
                  <div id="formContainer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Xác nhận công việc</h5>
                        </div>
                        <div class="modal-body">
                          <form action="/maintenance-actions/confirmSuccessMaintenace/${maintenanceActionId}" method="post" enctype="multipart/form-data">
                            <div class="form-group"> <label for="feedback">Phản hồi</label> <input type="text" name="feedback" id="feedback" class="form-control" placeholder="Nhập phản hồi"> </div>
                            <div class="form-group"> <label for="file">Tệp đính kèm</label> <input type="file" name="image" id="file" class="form-control"> </div>
                             <button name="workflowStepId" value="${workflowStepId}" class="btn btn-primary btn-block" onclick="return confirm('Bạn có chắc chắn đã hoàn thành công việc ?')">Hoàn thành</button>
                          </form>
                          <div id="preview" class="mt-3"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      `
      $('body').append(form);
      $("#formContainer").modal('show');
    });
  })

  function clickProject1(value, id) {
    var form = document.querySelector(".myForm1");
    var hiddenInput = form.querySelector("input[name='project']");
    if (id == 0) {
      document.querySelector('#recipient-nameProject1').style.display = "block";
    }
    if (hiddenInput) {
      hiddenInput.value = id;
    } else {
      hiddenInput = document.createElement("input");
      hiddenInput.type = "hidden";
      hiddenInput.name = "project";
      hiddenInput.value = id;
      form.appendChild(hiddenInput);
    }
    document.getElementById('recipient-reason1').disabled = false;
    document.querySelector('.recipient-name1').value = value;
    document.querySelector('.itemList1').style.display = "none";
  }

  function clickProject2(value, id) {
    var form = document.querySelector(".myForm2");
    var hiddenInput = form.querySelector("input[name='project']");
    if (id == 0) {
      document.querySelector('#recipient-nameProject2').style.display = "block";
    }
    if (hiddenInput) {
      hiddenInput.value = id;
    } else {
      hiddenInput = document.createElement("input");
      hiddenInput.type = "hidden";
      hiddenInput.name = "project";
      hiddenInput.value = id;
      form.appendChild(hiddenInput);
    }
    document.getElementById('recipient-time2').disabled = false;
    document.getElementById('recipient-reason2').disabled = false;
    document.querySelector('.recipient-name2').value = value;
    document.querySelector('.itemList2').style.display = "none";
  }

  function filterList2(event) {
    var input = event.target.value.toLowerCase();
    var items = document.querySelector('.itemList2').getElementsByTagName('li');
    var list = document.querySelector('.itemList2');
    if (input) {
      list.style.display = "block";
    } else {
      list.style.display = "none";
    }

    for (var i = 0; i < items.length; i++) {
      var itemText = items[i].textContent || items[i].innerText;
      if (itemText.toLowerCase().includes(input)) {
        items[i].style.display = "";
      } else {
        items[i].style.display = "none";
      }
    }
  }

  function filterList1(event) {
    var input = event.target.value.toLowerCase();
    var items = document.querySelector('.itemList1').getElementsByTagName('li');
    var list = document.querySelector('.itemList1');
    if (input) {
      list.style.display = "block";
    } else {
      list.style.display = "none";
    }
    for (var i = 0; i < items.length; i++) {
      var itemText = items[i].textContent || items[i].innerText;
      if (itemText.toLowerCase().includes(input)) {
        items[i].style.display = "";
      } else {
        items[i].style.display = "none";
      }
    }
  }
  $(document).ready(function() {
    $('#btn-lapdat').click(function() {
      $('.card.mb-3.mb-lg-0').hide();
      $('.lapdat').slideDown();
    });
    $('#btn-baotri').click(function() {
      $('.card.mb-3.mb-lg-0').hide();
      $('.baotri').slideDown();
    });
  });


  document.addEventListener('DOMContentLoaded', function() {
    const selectElement = document.querySelector('.form-select.form-select-sm');
    const taskItems = document.querySelectorAll('.col-md-6.h-100');
    selectElement.addEventListener('change', function() {
      const selectedValue = selectElement.value;
      taskItems.forEach(task => {
        const badge = task.querySelector('.badge');
        if (badge) {
          const badgeText = badge.textContent.trim();
          if (selectedValue === 'Chọn loại công việc') {
            task.style.display = '';
          } else if (selectedValue === 'Việc cần làm' && badgeText === 'Cần làm') {
            task.style.display = '';
          } else if (selectedValue === 'Việc đã làm' && badgeText === 'Đã hoàn thành') {
            task.style.display = '';
          } else if (selectedValue === 'Việc đã bỏ lỡ' && badgeText === 'Đã bỏ lỡ') {
            task.style.display = '';
          } else {
            task.style.display = 'none';
          }
        }
      });
    });
  });
</script>
<%- include('../layout/footer') %>