<%- include('../../layout/header') %>
<% function formatDate(dateString) {
const date = new Date(dateString);
const day = String(date.getDate()).padStart(2, '0');
const month = String(date.getMonth() + 1).padStart(2, '0');
const year = date.getFullYear();
const hours = String(date.getHours()).padStart(2, '0');
const minutes = String(date.getMinutes()).padStart(2, '0');
const seconds = String(date.getSeconds()).padStart(2, '0');
return `${day}/${month}/${year} ${hours}:${minutes}:${seconds}`;
} %>
<% function formatDate(dateString) {
const date = new Date(dateString);
const day = String(date.getDate()).padStart(2, '0');
const month = String(date.getMonth() + 1).padStart(2, '0');
const year = date.getFullYear();
const hours = String(date.getHours()).padStart(2, '0');
const minutes = String(date.getMinutes()).padStart(2, '0');
const seconds = String(date.getSeconds()).padStart(2, '0');
return `${day}/${month}/${year}`;
} %>
<div class="card mb-3">
  <div class="card-header position-relative min-vh-25 mb-7">
    <div class="bg-holder rounded-3 rounded-bottom-0" style="background-image:url(../../assets/img/generic/4.jpg);"></div>
    <div class="avatar avatar-5xl avatar-profile"><img class="rounded-circle img-thumbnail shadow-sm" src="/images/avatar/<%= Staff.avatar %>" width="200" alt=""></div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8">
        <h4 class="mb-1"><%= Staff.full_name %><span data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Verified" data-bs-original-title="Verified"><svg class="svg-inline--fa fa-check-circle fa-w-16 text-primary" data-fa-transform="shrink-4 down-2" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="check-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.625em;">
              <g transform="translate(256 256)">
                <g transform="translate(0, 64)  scale(0.75, 0.75)  rotate(0 0 0)">
                  <path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" transform="translate(-256 -256)"></path>
                </g>
              </g>
            </svg><!-- <small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small> Font Awesome fontawesome.com --></span></h4>
        <h5 class="fs-9 fw-normal">Phòng ban: <%= Staff.department.name %></h5>
        <p class="text-500">Chức vụ: <%= Staff.position.name %></p>
        <div class="border-bottom border-dashed my-4 d-lg-none"></div>
      </div>
      <div class="col ps-2 ps-lg-3">
        <div class="flex-1 mb-2">
          <h6 class="mb-0"> <strong>Email: </strong> <%= Staff.email %> </h6>
        </div>
        <div class="flex-1 mb-2">
          <h6 class="mb-0"> <strong>Số điện thoại: </strong> <%= Staff.number_phone %></h6>
        </div>

        <div class="flex-1 mb-2">
          <h6 class="mb-0"> <strong>Địa chỉ: </strong> <%= Staff.description %></h6>
        </div>
        <div class="flex-1 mb-2">
          <h6 class="mb-0"> <strong>Ngày tham gia: </strong> <%= formatDate(Staff.createdAt) %></h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card p-3">
  <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-da4be276-f13c-47d6-be82-655bc6452fd5" id="dom-da4be276-f13c-47d6-be82-655bc6452fd5">
    <h5>Lắp đặt</h5>
    <div class="row justify-content-end g-0">
      <div class="col-auto col-sm-5 mb-3">
        <form>
          <div class="input-group"><input class="form-control form-control-sm shadow-none search" type="search" placeholder="Search..." aria-label="search" />
            <div class="input-group-text bg-transparent"><span class="fa fa-search fs-10 text-600"></span></div>
          </div>
        </form>
      </div>
    </div>
    <div class="table-responsive scrollbar">
      <table class="table table-bordered table-striped fs-10 mb-0">
        <thead class="bg-200">
          <tr>
            <th class="text-900 sort" data-sort="congtrinh">Công trình</th>
            <th class="text-900 sort" data-sort="congviec">Công việc</th>
            <th class="text-900 sort" data-sort="ngayhoanthanh">Thời gian hoàn
              thành</th>
            <th class="text-900 sort" data-sort="trongso">Trọng số</th>
            <th class="text-900 sort" data-sort="trangthai">Trạng thái</th>
          </tr>
        </thead>
        <tbody class="list">
          <% infoStaffs.projectSteps.forEach(function(info, key) { %>
          <tr>
            <td class="congtrinh"> <a href="/client/task/<%= info.project.id %>"> <%=
                  info.project.full_name %></a></td>
            <th class="congviec"><%= info.workflowStep.step.name %></th>
            <th class=" ngayhoanthanh <%= (info.status > info.time) || !info.status  ? 'text-danger' : 'text-success'  %>"><%= info.status ? formatDate(info.status) : 'Chưa hoàn thành'  %></th>
            <td class="trongso"><%= info.weight %></td>
            <td class="trangthai">
              <% if(info.status == null && info.time > new Date()) { %>
              <span class="text-info fs-10 "> Chưa hoàn thành
              </span>
              <% }else if(info.status != null) { %>
              <span class="text-success fs-10">Hoàn thành</span>
              <% } %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center mt-3"><button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
      <ul class="pagination mb-0"></ul><button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
    </div>
  </div>
</div>
<div class="card mt-3  p-3">
  <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-da4be276-f13c-47d6-be82-655bc6452fd5" id="dom-da4be276-f13c-47d6-be82-655bc6452fd5">
    <h5>Bảo trì</h5>
    <div id="tableExample3" data-list='{"valueNames":["congtrinh","congviec","ngaygiao","ngayhoanthanh","trongso","trangthai"],"page":20,"pagination":true}'>
      <div class="row justify-content-end g-0">
        <div class="col-auto col-sm-5 mb-3">
          <form>
            <div class="input-group"><input class="form-control form-control-sm shadow-none search" type="search" placeholder="Search..." aria-label="search" />
              <div class="input-group-text bg-transparent"><span class="fa fa-search fs-10 text-600"></span></div>
            </div>
          </form>
        </div>
      </div>
      <div class="table-responsive scrollbar">
        <table class="table table-bordered table-striped fs-10 mb-0">
          <thead class="bg-200">
            <tr>
              <th class="text-900 sort" data-sort="congtrinh">Công trình</th>
              <th class="text-900 sort" data-sort="congviec">Công việc</th>
              <th class="text-900 sort" data-sort="ngayhoanthanh">Thời gian hoàn
                thành</th>
              <th class="text-900 sort" data-sort="trongso">Trọng số</th>
              <th class="text-900 sort" data-sort="trangthai">Trạng thái</th>
            </tr>
          </thead>
          <tbody class="list">
            <% infoStaffs.maintenanceActions.forEach(function(info, key) { %>
            <tr>
              <% if(info.maintenance.project){ %>
              <td class="congtrinh"> <a href="/client/task/<%= info.maintenance.project.id %>"><%=
                  info.maintenance.project.full_name %></a></td>
              <% }else{ %>
              <td class="congtrinh"> <a><%= info.maintenance.projectName %></a></td>
              <% } %>
              <th class="congviec"><%= info.maintenance.reason %></th>
              <th class=" ngayhoanthanh <%= (info.status > info.time) || !info.status  ? 'text-danger' : 'text-success'  %>"><%= info.status ? formatDate(info.status) : 'Chưa hoàn thành'  %></th>
              <td class="trongso"><%= info.weight %></td>
              <td class="trangthai">
                <% if(info.status == null && new Date(info.time) > new Date()) { %>
                <span class="text-info fs-10"> Chưa hoàn thành
                </span>
                <% }else if(info.status != null) { %>
                <span class="text-success fs-10">Hoàn thành</span>
                <% } %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mt-3"><button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
        <ul class="pagination mb-0"></ul><button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
      </div>
    </div>
  </div>
</div>
<div class="card mt-3  p-3">
  <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-da4be276-f13c-47d6-be82-655bc6452fd5" id="dom-da4be276-f13c-47d6-be82-655bc6452fd5">
    <h5>Phân quyền</h5>
    <form action="" method="post">
      <div class="table-responsive scrollbar">
        <table class="table table-bordered table-striped fs-10 mb-0">
          <thead class="bg-200">
            <tr>
              <th class="text-900 sort" data-sort="congtrinh">Quyền</th>
              <th class="text-900 sort" data-sort="congviec">Mô tả</th>
              <th class="text-900 sort" data-sort="trangthai">Trạng thái</th>
            </tr>
          </thead>
          <tbody class="list">
            <% permision.forEach(element => { %>
            <tr>
              <td><%= element.name %></td>
              <td><%= element.description %></td>
              <td>
                <%
          const hasPermission = permisionPhanQuyen.some(element2 => element2.id == element.id);
        %>
                <div class="form-check form-switch">
                  <input name="quyen[]" class="form-check-input" value="<%= element.id %>" id="flexSwitchCheckChecked" type="checkbox" <%= hasPermission ? 'checked' : '' %>><label class="form-check-label" for="flexSwitchCheckChecked"></label>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <button class="btn btn-primary mt-3">Xác nhận sửa quyền nhân viên</button>
    </form>
  </div>
</div>
</div>

<%- include('../../layout/footer') %>